.Container {
    text-align: center;
    padding-top: 70px;
    height: 100vh;
}

.button-a {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    background-color: #e0e0e0;
    border-width: 4px;
}

.button-b {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    background-color: #6fcf97;
    border-width: 4px;
}

.button-c {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    background-color: #56ccf2;
    border-width: 4px;
}

.button-d {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    background-color: #bb6bd9;
    border-width: 4px;
}

.background-text {
    background-color: #222222;
    color: white;
    height: 60px;
    text-align: center;
    padding-top: 5px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
}

.background-color-text {
    color: #49a6e9;
    font-weight: 500;
}

.paragraph {
    font-size: 23px;
}
